body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: #d5f2f6;
    margin: 0;
    /* Elimina el margen por defecto */
    padding: 0;
    color: #333;
}

.header {
    /*color del cuerpo */
    background-color: #50b4e4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100%;
    position: fixed;
    /* Fijo en la parte superior */
    top: 0;
    left: 0;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    /* Corregido de 'font-size: 700' a 'font-weight: 700' */
    color: #eceff1;
}

.header .nav-links a:hover {
    color: #ffbc0e;
}

.menu {
    display: none;
}

.header .btn button,
.header .menu button {
    margin-left: 20px;
    font-weight: 700;
    /*color de fondo*/
    color: #50b4e4;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/* Nav Mobile */

.header a {
    text-decoration: none;
    /* borramos el que teniamos en .header .nav-links a */
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 49, 63, .95);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: #ffbc0e;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height: 450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* Otros estilos como .container, .card, etc. */


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

#calendar {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Formulario Crear Evento */
.card {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    line-height: 1.5;
    color: #495057;
    background-color: #f9f9fb;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #dc3545;
    color: #fff;
}

#listaEventos {
    margin-top: 20px;
}

#eventosLista {
    list-style-type: none;
    padding: 0;
}

#eventosLista li {
    padding: 10px;
    background-color: #f4f4f9;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
}



.eliminarEventoBtn {
    display: block;
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 0.9em;
}

.eliminarEventoBtn:hover {
    background-color: #c9302c;
}


.detallesEvento {
    margin-top: 10px;
    color: #555;
}

.detallesEvento strong {
    font-weight: 700;
}

.evento-item .detallesEvento span {
    white-space: pre-line;
}



#crearEventoForm .form-label {
    margin-bottom: 10px;
}

#crearEventoForm .form-control {
    margin-bottom: 10px;
}