<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link th:href="@{/css/stilenav.css}" rel="stylesheet"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>



<header class="header">
    <div class="logo">
        <a href="/polosalud/index">
            <img th:src="@{/imagenes/logoPoloSalud.png}" src="../static/imagenes/logoPoloSalud.png" class="card-img-top" alt="Logo Polo Salud">
        </a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a class="nav-link" aria-current="page" href="/polosalud/index">Inicio</a></li>
            <li><a class="nav-link" href="/calendario">Calendario</a></li>
            <li><a class="nav-link" href="/polosalud/listanoticias">Noticias</a></li>
            <li><a class="nav-link" href="/polosalud/colab">Conocenos</a></li>
            <li><a class="nav-link" href="/polosalud/contac">Hablemos</a></li>
            <li><a class="nav-link" href="/polosalud/login">Registro</a></li>
            <li><a class="btn btn-primary nav-link" href="http://localhost:8080/index1">Crear Noticia</a></li>
        </ul>
    </nav>

    <a onclick="openNav()" class="menu" href="/polosalud/index"><button>Menu</button></a>
    <div id="mobile-menu" class="overlay">
        <a onclick="closeNav()" href="" class="close">&times;</a>
        <div class="overlay-content">
            <a class="nav-link" aria-current="page" href="/polosalud/index">Inicio</a>
            <a class="nav-link" href="/calendario">Calendario</a>
            <a class="nav-link" href="#">Noticias</a>
            <a class="nav-link" href="#">Facultades</a>
            <a class="nav-link" href="#">Hablemos</a>
            <a class="nav-link" href="/polosalud/login">Registro</a>
        </div>
    </div>

</header>

<script th:src="@{/js/nav.js}" defer></script>

<!----------------------------- Form box ----------------------------------->

</body>
</html>