<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylescomentario.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/comentario.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/polosalud/index">
                <img th:src="@{/imagenes/logoPoloSalud.png}" src="../static/imagenes/logoPoloSalud.png" class="card-img-top" alt="...">
            </a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a class="nav-link" aria-current="page" href="/polosalud/index">Inicio</a></li>
                <li><a class="nav-link" href="/calendario">Calendario</a></li>
                <li><a class="nav-link" href="/polosalud/listanoticias">Noticias</a></li>
                <li><a class="nav-link" href="/polosalud/colab">Conocenos</a></li>
                <li><a class="nav-link" href="https://hospitaldechillan.cl/web/">Colaboradores</a></li>
                <li><a class="nav-link" href="/polosalud/contac">Hablemos</a></li>
                <li><a class="nav-link" href="/polosalud/login">Registro</a></li>
                <li><a class="btn btn-primary nav-link" href="http://localhost:8080/index1">Crear Noticia</a></li>
            </ul>
        </nav>
        <a class="btn" href="#"><button>Contactanos</button></a>
        
        <!-- Menú móvil -->
        <div id="mobile-menu" class="overlay">
            <a onclick="closeNav()" href="#" class="close">&times;</a>
            <div class="overlay-content">
                <a class="nav-link" href="/polosalud/index">Inicio</a>
                <a class="nav-link" href="#">Calendario</a>
                <a class="nav-link" href="#">Noticias</a>
                <a class="nav-link" href="#">Facultades</a>
                <a class="nav-link" href="#">Colaboradores</a>
            </div>
        </div>
    </header>

    <main>
        <div class="title-container">
            <h1 th:text="${noticia.titulo}">Título de la noticia</h1>
        </div>
        <div class="image-container">
            <img th:src="${noticia.imagenUrl}" alt="Imagen de la noticia" id="news-image">
        </div>
        <div class="content">
            <h2 th:text="${noticia.subtitulo}">Subtítulo de la noticia</h2>
            <p th:text="'Publicado: ' + ${#dates.format(noticia.fechPublicacion, 'dd/MM/yyyy')}">Fecha de publicación: </p>
            <p th:text="'Etiquetas: ' + ${noticia.categoria}">Categoría: </p>
            <p th:utext="${#strings.replace(noticia.contenido, '\n', '<br>')}">Contenido de la noticia</p>
        </div>
        <!-- Campo oculto para el ID de la publicación -->
        <input type="hidden" id="idPublicacion" th:value="${noticia.idPublicacion}">
        <!-- Separador entre la noticia y los comentarios -->
        <div class="separador-comentarios"></div>

        <!-- Caja de comentarios -->
        <div class="comentarios-container">
            <h2>Comentarios</h2>
            <!-- Formulario para agregar un nuevo comentario -->
            <form id="form-comentario">
                <label for="contenido">Comentario:</label>
                <textarea id="contenido" placeholder="Escribe un comentario..." maxlength="250" required></textarea>
                <input type="hidden" id="idPublicacion" value="1">
                <button type="submit">Agregar Comentario</button>
            </form>

            <!-- Lista de comentarios -->
            <ul id="lista-comentarios">
                <!-- Los comentarios se añadirán dinámicamente con JavaScript -->
            </ul>
        </div>
    </main>

    <div class="sidebar">
        <a href="https://www.facebook.com/PoloDeSalud" target="_blank" class="sidebar-btn">
            <img th:src="@{/imagenes/Facebook.png}" src="../static/imagenes/Facebook.png" alt="Facebook" class="icon">
        </a>
        <a href="https://www.instagram.com/PoloDeSalud" target="_blank" class="sidebar-btn">
            <img th:src="@{/imagenes/Instagram.png}" src="../static/imagenes/Instagram.png" alt="Instagram" class="icon">
        </a>
        <a href="https://www.twitter.com/PoloDeSalud" target="_blank" class="sidebar-btn">
            <img th:src="@{/imagenes/Twitter.png}" src="../static/imagenes/Twitter.png" alt="Twitter" class="icon">
        </a>
        <a href="https://www.youtube.com/@UBBTVCHILE" target="_blank" class="sidebar-btn">
            <img th:src="@{/imagenes/Youtube.png}" src="../static/imagenes/Youtube.png" alt="Youtube" class="icon">
        </a>
        <a href="https://spotify.com" target="_blank" class="sidebar-btn">
            <img th:src="@{/imagenes/Spotify.png}" src="../static/imagenes/Spotify.png" alt="Spotify" class="icon">
        </a>
    </div>

    <footer>
        <p>&copy;2024 Polo de Salud UBB | Todos los derechos reservados.</p>
    </footer>

    <script th:src="@{/js/editContent.js}"></script>
</body>
</html>
